node_modules
dist
test
deploy
src/**.js

/docs
.nyc_output
*.log
*.pfx

wallaby.conf.js

.DS_Store
packages/*/coverage/
.npmrc

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore JetBrains IDE specific files
.idea
